version: '3.8'

services:
  db:
    image: postgres:15-alpine
    container_name: traffic_db
    restart: always
    environment:
      - POSTGRES_USER=traffic_user
      - POSTGRES_PASSWORD=traffic_password
      - POSTGRES_DB=traffic_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
