name: CI (Quality & Tests)

on:
  push:
    branches: [ "main", "master", "dev" ]
  pull_request:
    branches: [ "main", "master" ]

jobs:
  test:
    name: Run Tests & Quality Checks
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v3
        with:
          version: "latest"
          enable-cache: true

      - name: Set up Python 3.12
        run: uv python install 3.12

      - name: Install System Dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y ffmpeg libgl1

      - name: Install dependencies
        run: |
          uv sync --all-extras --dev


      - name: Run Ruff (Linter & Formatter check)
        run: |
          uv run ruff check .
          uv run ruff format --check .

      - name: Run Pyright (Type Checking)
        run: uv run pyright

      - name: Run Tests (Pytest)
        env:
          PROJECT_NAME: "TrafficDetectorCI"
          MODEL_PATH: "yolov8n.pt"
          API_URL: "http://localhost:8000"
        run: uv run pytest -v
